.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 30px;
  margin-left: 35vw;
  button {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 1200px) {
    margin-right: 30px;
    margin-left: 0;
  }
}
