<div>
  <p class="level-label">Level: {{ formattedLevel }}</p>
  <button mat-raised-button color="warn" class="copy-button">
    Copy Code!
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
<canvas id="game-board">
</canvas>
<section class="players-list">
  <mat-chip-list
    class="mat-chip-list-stacked"
  >
    <mat-chip
      *ngFor="let snake of snakes; trackBy: trackBySnake"
      [ngStyle]="{ 'background-color': snake.color }"
      disableRipple
      class="floating-box player-label"
    >
      <div class="avatar-container">
        <img
          matChipAvatar
          [src]="getProfileImage(snake)"
          [alt]="snake.username + ' avatar'"
          fallback="/assets/images/default-profile.png"
        />
        <span
          class="eliminated-cross"
          [ngStyle]="{ 'opacity': snake.alive? 0:0.8 }"
        >
        X
      </span>
      </div>
      {{ snake.username }}
    </mat-chip>
  </mat-chip-list>
</section>
