/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$light-primary: #9349cf;
$dark-white: #E1D9D1;
$warn: #F54D42;
$dark-red: #ab1d1d;
$light-black: #454545;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.actions {
  button {
    font-size: 18px;
    font-weight: normal;
    width: 20%;
  }
  width: 100%;
  display: flex !important;
  flex-direction: row-reverse;
  margin-bottom: 0px !important;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.floating-box {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

mat-progress-bar {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
}

.errorSnackBar {
  background-color: $dark-red;
  color: $dark-white;
  button {
    color: $dark-white;
  }
}
